<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Crypto Exchange Ticker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Crypto Exchange Ticker</h1>
        <h2>{{ exchange }} prices:</h2>
    </header>
    <main>
        <table>
            <tr>
                <th>Symbol</th>
                <th>Last price</th>
                <th>Volume (24h)</th>
                <th>Liquidity (24h)</th>
            </tr>
            {% for symbol, price in prices.items() %}
                <tr>
                    <td>{{ symbol }}</td>
                    <td>{{ price['last_price'] }}</td>
                    <td>{{ price['volume'] }}</td>
                    <td>{{ price['liquidity'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
